@use '../helpers/index' as *;

.checkbox-group-ui {
  display: grid;
  grid-template-columns: repeat(3, auto);
  gap: 1rem 1.5rem;

  @include tablet {
    grid-template-columns: repeat(2, auto);
  }

  @include mobile {
    grid-template-columns: repeat(1, auto);
  }

  &__item {
    display: flex;
    align-items: center;
    gap: 0.75rem;
    cursor: pointer;
  }

  &__label {
    user-select: none;
    font-size: 0.875rem;
    font-weight: 500;
  }
}