@use '../helpers/index' as *;

.strength-very-weak {
    color: #dc2626;
}

.strength-very-weak .progress-ui-indicator {
    background-color: #dc2626;
}

.strength-weak {
    color: #ea580c;
}

.strength-weak .progress-ui-indicator {
    background-color: #ea580c;
}

.strength-medium {
    color: #ca8a04;
}

.strength-medium .progress-ui-indicator {
    background-color: #ca8a04;
}

.strength-strong {
    color: #16a34a;
}

.strength-strong .progress-ui-indicator {
    background-color: #16a34a;
}

.strength-very-strong {
    color: #059669;
}

.strength-very-strong .progress-ui-indicator {
    background-color: #059669;
}

.progressbar-text {
    margin-top: 0.4rem;
    text-align: center;
    font-size: 1rem;
}