@use '../helpers/index' as *;

.checkbox-ui {
    height: 18px;
    width: 18px;
    flex-shrink: 0;
    border: 2px solid #007bff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    transition: background-color 0.2s, border-color 0.2s;

    &[data-state='checked'] {
        background-color: #007bff;
        border-color: #007bff;
    }

    &:focus-visible {
        outline: 2px solid #007bff;
        outline-offset: 2px;
    }

    &__indicator {
        color: white;
    }
}