@use '../helpers/index' as *;

.checkbox-ui {
    height: rem(24);
    width: rem(24);
    background-color: var(--ring);
    border: none;
    border-radius: 0.3rem;
    display: flex;
    padding: 0;

    &:focus-visible {
        outline: none;
        box-shadow: 0 0 0 2px var(--accent-primary);
    }

    &:disabled {
        cursor: not-allowed;
        opacity: 0.5;
    }

    &[data-state="checked"] {
        background-color: var(--accent-primary);
        color: var(--bg-primary);
    }

    &__indicator {
        display: flex;
        align-items: center;
    }

    span {
        display: flex;
        margin-inline: auto;
    }

    svg {
        fill: none;
    }
}